<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level - [%c{3}]:%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="io.streamnative" level="DEBUG" additivity="false">
            <Appender-ref ref="Console" level="DEBUG" />
        </Logger>
    </Loggers>
</Configuration>